* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;

}

/* Header part design With banner */

.banner {
    padding: 30px;
    background-image: url('../images/banner/banner2.png');
    height: 809px;
    background-size: cover;
    margin-bottom: 130px;

}

.banner .heading {
    color: #151414;
    padding-top: 216px;
    padding-left: 980px;
    padding-right: 290px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;

}

.banner .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
    margin-top: 24px;
    padding-left: 1070px;
    padding-right: 290px;

}

.banner .first-btn {
    margin-top: 24px;
    margin-left: 1380px;
    margin-right: 290px;
    text-align: right;
    color: #FFFFFF;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    background: #F15B22;
    border-radius: 5px;
    border: none;

}

/* main part design */

main {
    max-width: 1141px;
    margin: 0 auto;
}

/* Section -1 design  */
.section1-container {
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 30px;
    margin-bottom: 130px;
}

.content .heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.content .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;

}

.content li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding: 8px;
    margin-left: -40px;

}

.content li:before {
    content: "\2705";
    padding-right: 8px;


}


.content li span {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding: 8px;
}


/* Section -2 Design */

.section2-container {
    padding-top: 10px;
    margin-bottom: 131px;
    margin-right: -50px;
}

.section2-container h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 47px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: #151414;

}

.section2-container .icon-containers {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    text-align: center;
    /* width: 1280px; */
}

.section2-container .icon-containers .web {
    width: 350px;

}

.web img {
    margin-bottom: 16px;
}

.web h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 16px;
    color: #151414;
}

.web h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;

}

/* Section -3 design */

.section3-container {
    /* background-image: url(../images/watch.png); */
    background-image: linear-gradient(to right, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 1210px;
    margin-bottom: 131px;
    border-radius: 5px;
    /*  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/background.jpg'); */
}

.section3-container h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding-top: 59px;
    padding-left: 64px;
    text-align: left;
    width: 459px;
    margin-bottom: 24px;

}

.section3-container button {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #F15B22;
    height: 64px;
    margin-left: 64px;
    padding: 20px 36px;
    border-radius: 5px;
    border: none;
}